@model IEnumerable<ShapeShift.Models.Shift>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <li>@Html.ActionLink("Accept Shift", "ApproveShift", "AppUser", new { id = item.ShiftId })</li>
                <li>@Html.ActionLink("Reject Shift", "RejectShift", "AppUser", new { id = item.ShiftId })</li>

            </td>
        </tr>
    }

</table>

@*<button> Accept Shift</button> //When a employee tries to accept an available shift, or post his shift then we Edit SHift, and changes status to 3, change appuser requesting, on AppUser controller return partial view Shift Schedule
<button> Reject Shift</button> //When a employee tries to accept an available shift or post his shift then we Edit Shift and change status to 1 as not accepted and AppUser to null;, on AppUser controller return partial view Shift Schedule*@
