@model IEnumerable<ShapeShift.Models.Shift>

@{
    ViewBag.Title = "Index";
}



<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Manager Home Page</h1>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                @for (int i = 0; i < 10; i++)
                {
                    <br />

                }

            <ul class="nav nav-pills nav-stacked">

                <li> @Html.ActionLink("Send group message", "GroupMessage", "Manger")</li>
                <li> @Html.ActionLink("Send Private message", "PrivateMessage", "Manger")</li>
                <li> @Html.ActionLink("Shift Exchange", "ShiftExchange", "AppUsers") </li>
                <li>  @Html.ActionLink("Availability", "ViewAvailability", "AppUsers")</li>
                <li>  @Html.ActionLink("Add Shift", "Create", "Shift") </li>
                <li>@Html.ActionLink("Add Employee", "RegisterEmployee", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
              
            </ul><br>

            </div>


            <div class="col-sm-9">


                <h3> Schedule </h3>
                <div>

                    @Html.Partial("~/Views/Shift/_EditShift.cshtml", Model)
                    @*add shift to exchange add shift to employee*@

                </div>

                @*<h3> Current Staff</h3>
        <div>
            @Html.Partial("~/Views/AppUsers/_EditAppUsers.cshtml", Model)


        </div>*@

                @for (int i = 0; i < 10; i++)
                {
                    <br />

                }



                <h3> Pending Shifts</h3>

                <div>

                    @Html.Partial("~/Views/Manager/_PendingShifts.cshtml", Model)

                </div>



            </div>
    </div>


    <footer class="container-fluid">
        <p>MakeShift</p>
    </footer>

    <script>


    </script>
</body>
</html>











