@model IEnumerable<ShapeShift.Models.AppUser>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Make-Shift</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .row.content {
            height: 1500px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: deepskyblue;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #555;
            color: white;
            padding: 15px;
        }

        .navbar {
            color: deepskyblue;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

    </style>
</head>
<body>
    <div id="1"></div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.middleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.OrganizationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th></th>
        </tr>

       *@foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.OrganizationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                <button id="EditStaff" data-url='@Url.Action("EditUser", "AppUsers", item.UserId)'>Edit Staff</button>
                <button id="DeleteStaff" data-url='@Url.Action("DeleteUser", "AppUsers", item.UserId)'>Delete Staff</button>

           
            </td>
        </tr>
        }

    </table>

</body>
</html>