@model IEnumerable<ShapeShift.Models.Availability>

@{
    ViewBag.Title = "EditAvailability";
}

<h2>EditAvailability</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Availability</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.weekday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.weekday)
        </td>
        <td>
            <div class="form-group">
                @Html.LabelFor(modelItem => item.start, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => item.start, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.start, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                @Html.LabelFor(modelItem => item.end, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => item.end, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.end, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>


    </tr>
        }

    </table>

            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
