@model IEnumerable<ShapeShift.Models.Shift>

@{
    ViewBag.Title = "ShiftExchange";
}

<h2>ShiftExchange</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalInfo)

        </th>
        <th @*<button data-url='@Url.Action("AddShift","AppUsers" )'
         class="glyphicon-import">Add Shift to Exchange</button>*@

        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @*//transfer to dynamic table if possible*@
                <button data-url='@Url.Action("Edit Shift","AppUsers", new { id = item.ShiftId } )'
                        class="glyphicon-import">
                    Add Shift to Exchange
                </button>
            </td>

        </tr>
    }

</table>

<div id ="availableShifts">
    <table>
        <tr> </tr>
    </table>
</div>


<div id ="employeeShifts">
    <table>
        <tr> </tr>
    </table>
</div>


@*//render partial all shifts in the column next to it as available shifts.*@
@Html.Label("Locations", new { @class = "col-md-2 control-label" })
<div class="col-md-3">
    @*@Html.DropDownList("Name")*@
    @Html.DropDownList("Name1", (IEnumerable
        <SelectListItem>)ViewBag.Name1)

</div>

@Html.Label("Positions", new { @class = "col-md-2 control-label" })
<div class="col-md-3">
    @*@Html.DropDownList("Name")*@
    @Html.DropDownList("Name1", (IEnumerable
           <SelectListItem>)ViewBag.Name2)

</div>


<script>


    $(document).ready(function () {

        console.log("hello");
    }
    $('glyphicon-import').on('click', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var $shiftExchange = $('#detailsDiv'),
            url = $(this).data('url');

        $.get(url, function (data) {
            $shiftExchange.replaceWith(data);
        });
    });

</script>