@model IEnumerable<ShapeShift.Models.Shift>

@{
    ViewBag.Title = "ShiftExchange";
}

<h2>ShiftExchange</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalInfo)

        </th>
        <th>
            @Html.ActionLink("Add Shift", "Create", "Shift")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Accept Shift" class="btn btn-default" />
                    </div>
                </div>
            </td>

        </tr>
    }

</table>

@Html.Label("Locations", new { @class = "col-md-2 control-label" })
<div class="col-md-3">
    @*@Html.DropDownList("Name")*@   
    @Html.DropDownList("Name1", (IEnumerable  
        <SelectListItem>)ViewBag.Name1)

</div>

@Html.Label("Positions", new { @class = "col-md-2 control-label" })
<div class="col-md-3">
    @*@Html.DropDownList("Name")*@
    @Html.DropDownList("Name1", (IEnumerable
           <SelectListItem>)ViewBag.Name2)

</div>