<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Make-Shift</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .row.content {
        height: 1500px
    }

    /* Set gray background color and 100% height */
    .sidenav {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
        background-color: deepskyblue;
        height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #555;
        color: white;
        padding: 15px;
    }
    .navbar {
        color: deepskyblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */

</style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MakeShift", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MakeShift</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {
            $('#EditShift').click(function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                console.log("looo");
                $('#3').show();
                var $detailDiv = $('#EditShi'),
                    url = $(this).data('url');
                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                });
            });

        $('#EditPosition').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            $('#EditPositionEmpty').show();
            var $detailDiv = $('#EditPos'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });
        });
   
        $('#EditLocation').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            $('#EditLocationField').show();
            var $detailDiv = $('#EdiLoc'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });


        });

         $('#DeleteLocation').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#EditLoc'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });
               });

               $('#DeletePosition').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#EditPos'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });
                     });


            $('#DeleteShift').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#EditShi'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

            });

        
            $('#AddShiftToExchange').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#EditShi'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

            });

            
     $('#RequestShift').click(function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var $detailDiv = $('#EdiShi'),
            url = $(this).data('url');

        $.get(url, function (data) {
            $detailDiv.replaceWith(data);
        });

        });
        
            $('#PopulateMyShifts').click(function (evt) {
            evt.preventDefault();
                evt.stopPropagation();
                $('#MyShi').show();
            var $detailDiv = $('#MyShi'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

             });

        
            $('#PopulateAvailShifts').click(function (evt) {
            evt.preventDefault();
                evt.stopPropagation();
                $('#ViewShi').show();
            var $detailDiv = $('#ViewShi'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

            });
        
         $('#AcceptShift').click(function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var $detailDiv = $('#EdiShi'),
            url = $(this).data('url');

        $.get(url, function (data) {
            $detailDiv.replaceWith(data);
        });

    });

     $('#RejectShift').click(function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var $detailDiv = $('#EdiShi'),
            url = $(this).data('url');

        $.get(url, function (data) {
            $detailDiv.replaceWith(data);
        });

        });

                $('#EditStaff').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#1'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });


        });

         $('#DeleteStaff').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var $detailDiv = $('#1'),
                url = $(this).data('url');
            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });
               });












                });

     








    </script>
</body>
</html>
