@model IEnumerable<ShapeShift.Models.Shift>

@{
    ViewBag.Title = "Index";
}


    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
          
        </style>

    </head>
   

    @*//currentschedule partial view according to current day, position drop down that filters the partial to show only that position schedule*@





    <body>
        <h1>Employee Home Page</h1>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    @for (int i = 0; i < 10; i++)
                    {
                        <br />

                    }

                    <ul class="nav nav-pills nav-stacked">


                        <li>
                            @Html.ActionLink("Shift Exchange", "ShiftExchange", "AppUsers")
                        </li>
                        <li>
                            @Html.ActionLink("View Schedule", "GetEmployeeSchedule", "Shift")
                        </li>
                        <li>
                            @Html.ActionLink("Edit Availability", "EditAvailability", "AppUsers")

                        </li>
                 
                        <li></li>

                    </ul><br>

                </div>


              <div class="col-sm-6" >


                <h3> Current Schedule</h3>
                <div>
                    @Html.Partial("_CurrentSchedule", Model)

                </div>
          
                <h3> Availabililty</h3>
                <div>
                    @Html.Partial("_ViewAvailability")

                </div>
                @*//DOnt edit availability here*@








                @*</div>*@
            </div>

             </div>

        </div>
            <footer class="container-fluid">
                <p>Footer Text</p>
            </footer>

            <script>
                $(document).ready(function (data) {

                    var $viewAppUsers = $("#CurrentAppUserDiv")
                    url = $("#viewAppUsers").data('url');

                    console.log("viewemp");

                    $.get(url, function (data) {
                        $viewAppUsers.replaceWith(data); //replaces partial with function edit
                    });





                });


            </script>
    </body>
    </html>













